

.header2{
    background-color:black;
    color:whitesmoke;
}


.col-md-3 {
    background-color: black;
}


.h3 {
    color: red;
    font:bold;
}

.abc > li {
    background-color: black;
}

    .abc > li > a {
        color: white;
    }

.abc > li > a:hover {
    color: wheat;
}

#anchor > a{
    color:black;
}